/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/montserrat-v23-latin_cyrillic-regular.woff2") format("woff2"), url("/fonts/montserrat-v23-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("/fonts/montserrat-v23-latin_cyrillic-600.woff2") format("woff2"), url("/fonts/montserrat-v23-latin_cyrillic-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/montserrat-v23-latin_cyrillic-700.woff2") format("woff2"), url("/fonts/montserrat-v23-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local(""), url("/fonts/montserrat-v23-latin_cyrillic-800.woff2") format("woff2"), url("/fonts/montserrat-v23-latin_cyrillic-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #333;
  overflow-x: hidden;
  margin: auto;
  background-color: #FFFFFF;
}

.conteiner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 1770px;
  margin: auto;
  padding: 0 75px;
}

@media screen and (max-width: 1920px) {
  .conteiner {
    width: unset;
    padding: 0 50px;
  }
}

.invisible {
  position: absolute;
  visibility: hidden;
}

.title {
  font-size: 48px;
  line-height: 59px;
  font-weight: normal;
}

.search-box {
  position: relative;
  width: 32px;
  height: 60px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

@media screen and (max-width: 1024px) {
  .search-box {
    position: absolute;
    right: 50px;
  }
}

.search-box.active {
  width: 539px;
  padding: 16px 95px 16px 32px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 1024px) {
  .search-box.active {
    top: 70px;
    background-color: #FFFFFF;
  }
}

.search-box__input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 21.94px;
  color: #ADADAD;
}

.search-box__input.active {
  padding-bottom: 10px;
  border-bottom: 1px solid #DCDCDC;
}

.search-box__btn {
  position: absolute;
  top: 50%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background: #fff;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition-property: right, -webkit-transform;
  transition-property: right, -webkit-transform;
  transition-property: transform, right;
  transition-property: transform, right, -webkit-transform;
  -webkit-transition-duration: 0.5s, 0.5s;
          transition-duration: 0.5s, 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.262, 1.55), ease;
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.262, 1.55), ease;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.search-box__search-btn {
  z-index: 1;
  background-image: url(/img/search_icon_default.svg);
}

.search-box__search-btn:hover {
  background-image: url(/img/search_icon_hover.svg);
}

.search-box__search-btn.active {
  right: 57px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search-box__cancel-btn {
  background-image: url(/img/close_icon_default.svg);
}

.search-box__cancel-btn:hover {
  background-image: url(/img/close_icon_hover.png);
}

.search-box__cancel-btn:active {
  background-image: url(/img/close_icon_active.svg);
}

.search-box__cancel-btn.active {
  right: 13px;
  -webkit-transform: translateY(-50%) rotate(360deg);
          transform: translateY(-50%) rotate(360deg);
}

.burger {
  height: 23px;
  width: 30px;
  position: relative;
  z-index: 50;
  cursor: pointer;
}

.burger::before, .burger::after {
  content: '';
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  background: #333333;
  left: 0;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.burger::before {
  top: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.burger span {
  display: block;
  height: 3px;
  width: 100%;
  background: #333333;
  position: absolute;
  left: 0;
  top: 10px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.burger::after {
  bottom: 0;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active span {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav__list {
  -webkit-transition: left 0.2s ease-in;
  transition: left 0.2s ease-in;
}

@media screen and (max-width: 1400px) {
  .nav__list {
    position: absolute;
    left: -330px;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 320px;
    padding: 100px 30px;
    z-index: 40;
    background-color: #FFFFFF;
    overflow: auto;
  }
  .nav__list.active {
    left: 0px;
  }
}

.nav__item {
  display: inline-block;
  margin-right: 85px;
}

.nav__item:last-child {
  margin-right: 81px;
}

@media screen and (max-width: 1400px) {
  .nav__item {
    margin: 0;
    padding: 15px 10px;
  }
  .nav__item:last-child {
    margin: 0;
  }
}

.nav__item-link {
  display: inline-block;
  border: 0px solid #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-property: border-bottom-color, border-bottom-width, color;
  transition-property: border-bottom-color, border-bottom-width, color;
}

.nav__item-link:hover {
  border-bottom: 2px solid #FF9900;
  margin-bottom: -2px;
}

.nav__item-link:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 2px;
}

.nav__item-link:active {
  border-bottom-color: #E1670E;
  color: #E1670E;
}

.header {
  -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

@media screen and (max-width: 1024px) {
  .header__conteiner {
    height: 69px;
  }
}

.header__logo-img {
  margin-right: 50px;
}

@media screen and (max-width: 1400px) {
  .header__logo-img {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .header__logo-img {
    width: 150px;
  }
}

.header__burger {
  display: none;
}

@media screen and (max-width: 1400px) {
  .header__burger {
    display: block;
  }
}

@media screen and (max-width: 1400px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 130;
    width: 100%;
  }
}

/* Button & Section-Banner Button*/
.btn {
  display: inline-block;
  padding: 24.8px 36.6px;
  border: none;
  background: #ff9900;
  font-family: Montserrat;
  font-size: 23.4581px;
  font-weight: bold;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition-property: background-color, outline-color, color, opacity;
  transition-property: background-color, outline-color, color, opacity;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.btn:hover {
  background: rgba(255, 153, 0, 0.7);
}

.btn:focus-visible {
  background: rgba(255, 153, 0, 0.7);
  outline: 4px solid #FF9900;
  outline-offset: 4px;
}

.btn:active {
  background: #E1670E;
}

/* Section About Button */
.btn_transparent {
  padding: 20px 38px;
  outline: 3px solid #FF9900;
  outline-offset: -3px;
  background: transparent;
  font-size: 16px;
  line-height: 20px;
}

.btn_transparent:hover {
  outline-color: transparent;
  background: #FF9900;
}

.btn_transparent:focus-visible {
  outline: 4px solid #FF9900;
  outline-offset: 4px;
  background: #FF9900;
}

.btn_transparent:active {
  outline-color: transparent;
  background: #E1670E;
}

/* Button Section Work */
.btn_secondary {
  outline: none;
  background: #FF9900;
}

.btn_secondary:hover {
  background: #F7B045;
}

.btn_secondary:focus-visible {
  background: #F7B045;
  outline: 4px solid #FF9900;
  outline-offset: 4px;
}

.btn_secondary:active {
  background: #E1670E;
}

/* Button Section Work Black-and-white*/
.btn_black-and-white {
  outline: 1px solid #333333;
  outline-offset: -1px;
  background: #FFF;
  font-weight: normal;
  color: #333333;
}

.btn_black-and-white:hover {
  outline-color: #666666;
  background: #666666;
  color: #FFF;
}

.btn_black-and-white:focus-visible {
  background: #666666;
  color: #FFF;
  outline: 4px solid #666666;
  outline-offset: 4px;
}

.btn_black-and-white:active {
  background: #000;
  outline-color: #000;
  color: #FFF;
}

/* Button Footer*/
.btn_secondary_form {
  padding: 19px 52px;
  font-size: 16px;
  line-height: 20px;
}

.section {
  margin-bottom: 100px;
}

.swiper {
  height: 620px;
  width: 100%;
}

.swiper .swiper-horizontal > .swiper-pagination-bullets, .swiper .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper .swiper-pagination-custom, .swiper .swiper-pagination-fraction {
  bottom: 30px;
  left: 0;
  width: 100%;
}

.swiper .swiper-slide-img {
  height: 100%;
  width: 100%;
  -o-object-fit: none;
     object-fit: none;
}

.swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  opacity: 1;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: rgba(255, 255, 255, 0.4);
}

.swiper .swiper-pagination-bullet:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.swiper .swiper-pagination-bullet:focus-visible {
  outline: 4px solid white;
  outline-offset: 4px;
}

.swiper .swiper-pagination-bullet-active {
  background: #FFFFFF;
}

.sec-banner__slider {
  position: relative;
}

.sec-banner__slider-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  pointer-events: none;
}

.sec-banner__title {
  font-size: 70px;
  font-weight: 800;
  line-height: 85px;
  color: #FFFFFF;
  max-width: 840px;
  margin-top: 100px;
  margin-bottom: 24px;
  margin-left: 80px;
}

@media screen and (max-width: 1400px) {
  .sec-banner__title {
    font-size: 60px;
    line-height: 73px;
    margin-top: 160px;
    margin-bottom: 16px;
    max-width: 710px;
    margin-left: calc((50% - 355px));
  }
}

@media screen and (max-width: 1024px) {
  .sec-banner__title {
    font-size: 50px;
    line-height: 61px;
    width: 588px;
    margin-left: calc((50% - 294px));
  }
}

.sec-banner__description {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  color: #FFFFFF;
  max-width: 790px;
  margin-top: 24px;
  margin-bottom: 90px;
  margin-left: 80px;
}

@media screen and (max-width: 1400px) {
  .sec-banner__description {
    font-size: 18px;
    max-width: 710px;
    margin-left: calc((50% - 355px));
    padding-right: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .sec-banner__description {
    font-size: 18px;
    line-height: 22px;
    width: 588px;
    margin-left: calc((50% - 294px));
  }
}

.sec-banner__btn {
  position: absolute;
  z-index: 10;
  bottom: 100px;
  left: 80px;
}

@media screen and (max-width: 1400px) {
  .sec-banner__btn {
    left: calc((50% - 355px));
  }
}

@media screen and (max-width: 1024px) {
  .sec-banner__btn {
    left: calc((50% - 294px));
  }
}

@media screen and (max-width: 1400px) {
  .sec-banner {
    margin-top: 100px;
  }
}

.sec-about__title {
  margin-bottom: 20px;
}

.sec-about__description {
  max-width: 1235px;
  margin-bottom: 50px;
}

.sec-about__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1400px) {
  .sec-about__main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sec-about__banner {
  position: relative;
  height: 622px;
  width: 49.04%;
  background-image: url(/img/About_Us_Pic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1400px) {
  .sec-about__banner {
    width: 100%;
    margin-bottom: 32px;
  }
}

.sec-about__banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 196px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.sec-about__banner-text {
  width: 454px;
  margin-left: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .sec-about__banner-text {
    width: 366px;
    margin-left: 40px;
  }
}

.sec-about__btn {
  margin-right: 50px;
}

.sec-about__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 49.153%;
}

@media screen and (max-width: 1400px) {
  .sec-about__cards {
    width: 100%;
  }
}

.sec-about__card {
  border: 1px solid #CACACA;
  height: 295px;
}

@media screen and (max-width: 1400px) {
  .sec-about__card:not(:last-child) {
    margin-bottom: 32px;
  }
}

.sec-about__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 295px;
  width: 100%;
  padding: 7.47% 6.9%;
}

@media screen and (max-width: 1920px) {
  .sec-about__card-content {
    padding: 35px 32px;
  }
}

@media screen and (max-width: 1400px) {
  .sec-about__card-content {
    padding: 65px 155px 65px 77px;
  }
}

@media screen and (max-width: 1024px) {
  .sec-about__card-content {
    padding: 30px;
  }
}

.sec-about__card-icon {
  margin-right: 7.26%;
  width: 27.61%;
}

@media screen and (max-width: 1400px) {
  .sec-about__card-icon {
    margin-right: 50px;
    width: 190px;
  }
}

@media screen and (max-width: 1024px) {
  .sec-about__card-icon {
    margin-right: 16px;
    width: 114px;
  }
}

.sec-about__card-description {
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.sec-about__card-title {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333;
}

.strong-title {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.sec-work__title {
  margin-bottom: 50px;
}

.sec-work__tabs {
  position: relative;
}

.sec-work__tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}

@media screen and (max-width: 1024px) {
  .sec-work__tab-list {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.sec-work__tab-item {
  margin-right: 85px;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.sec-work__tab-item:hover {
  color: #FF9900;
}

.sec-work__tab-item:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.sec-work__tab-item.active {
  color: #E1670E;
}

@media screen and (max-width: 1024px) {
  .sec-work__tab-item {
    margin-right: 0;
  }
}

.sec-work__content-list {
  height: 460px;
}

@media screen and (max-width: 1400px) {
  .sec-work__content-list {
    height: 730px;
  }
}

@media screen and (max-width: 1024px) {
  .sec-work__content-list {
    height: unset;
  }
}

.sec-work__content-item {
  display: none;
}

.sec-work__content-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media screen and (max-width: 1024px) {
  .sec-work__content-item.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.sec-work__step-description {
  width: 758px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

@media screen and (max-width: 1920px) {
  .sec-work__step-description {
    margin-right: 25px;
  }
}

@media screen and (max-width: 1400px) {
  .sec-work__step-description {
    width: 100%;
    padding-right: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .sec-work__step-description {
    padding-bottom: 105px;
  }
}

@media screen and (max-width: 1920px) {
  .sec-work__pic {
    width: calc(100% - 758px - 140px);
    -o-object-fit: cover;
       object-fit: cover;
    height: 460px;
  }
}

@media screen and (max-width: 1400px) {
  .sec-work__pic {
    width: 47.3%;
    height: 730px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 1024px) {
  .sec-work__pic {
    height: 284px;
    width: 100%;
    margin-bottom: 38px;
  }
}

.sec-work__btns-position {
  position: absolute;
  left: 0;
  bottom: 0;
}

.sec-work__btn {
  margin-right: 32px;
}

.sec-questions__details {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.sec-questions__summary {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
  border-top: 1px solid #CACACA;
  list-style: none;
  cursor: pointer;
}

.sec-questions__summary-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  padding-right: 80px;
}

@media screen and (max-width: 1024px) {
  .sec-questions__summary-text {
    font-size: 20px;
  }
}

.sec-questions__title {
  margin-bottom: 32px;
  line-height: 70px;
}

.sec-questions__summary-icon {
  height: 50px;
  width: 50px;
  background-image: url(/img/more-icon-defalt.svg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: absolute;
  right: 0;
}

.ui-state-hover .sec-questions__summary-text {
  color: #FF9900;
}

.ui-state-hover .sec-questions__summary-icon {
  background-image: url(/img/more-icon-hover.svg);
}

.sec-questions .ui-state-focus {
  outline: none;
}

.ui-state-focus .sec-questions__summary-icon {
  background-image: url(/img/more-icon-hover.svg);
}

.ui-state-focus .sec-questions__summary-text {
  color: #FF9900;
}

.ui-state-active .sec-questions__summary-icon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#accordion {
  border-bottom: 1px solid #CACACA;
}

.form__title {
  color: #CACACA;
  margin-bottom: 25px;
}

.form__input {
  display: block;
  height: 60px;
  width: 570px;
  margin-bottom: 25px;
  outline: none;
  border: none;
  line-height: 32px;
  color: #FFF;
  padding: 14px 24px;
  background: #414141;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.form__input:hover, .form__input:active, .form__input:focus {
  background: #666666;
}

.form__input::-webkit-input-placeholder {
  position: absolute;
  left: 24px;
  top: 14px;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.form__input:-ms-input-placeholder {
  position: absolute;
  left: 24px;
  top: 14px;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.form__input::-ms-input-placeholder {
  position: absolute;
  left: 24px;
  top: 14px;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.form__input::placeholder {
  position: absolute;
  left: 24px;
  top: 14px;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.form__input_resize_none {
  height: 150px;
  width: 570px;
  resize: none;
}

.form__btn-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__ag-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__ag-check-text {
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  margin-left: 4px;
  cursor: pointer;
}

.form__ag-check-text:hover {
  color: #FF9900;
}

.form__ag-check-text:active {
  color: #E1670E;
}

.form__ag-check-text::before {
  content: '';
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 1px solid #CACACA;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.form__ag-check.active .form__ag-check-text::before {
  border: none;
  background-image: url(/img/Check_active.svg);
}

.form__checkbox {
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
  z-index: -2;
}

.form__checkbox:focus-visible + .form__ag-check-text {
  outline: 3px solid #FF9900;
  outline-offset: 6px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__link {
  display: block;
  height: 60px;
  width: 60px;
}

.social__link:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 4px;
}

.social__item {
  height: 60px;
  width: 60px;
  -webkit-transition: background-image 0.2s;
  transition: background-image 0.2s;
}

.social__item:not(:last-child) {
  margin-right: 25px;
}

.social__item_bg_fb {
  background-image: url(/img/fb/fb.svg);
}

.social__item_bg_fb:hover {
  background-image: url(/img/fb/fb_hover.svg);
}

.social__item_bg_fb:active {
  background-image: url(/img/fb/fb_active.svg);
}

.social__item_bg_inst {
  background-image: url(/img/inst/instagram.svg);
}

.social__item_bg_inst:hover {
  background-image: url(/img/inst/instagram_hover.svg);
}

.social__item_bg_inst:active {
  background-image: url(/img/inst/instagram_active.svg);
}

.social__item_bg_vk {
  background-image: url(/img/vk/vk.svg);
}

.social__item_bg_vk:hover {
  background-image: url(/img/vk/vk_hover.svg);
}

.social__item_bg_vk:active {
  background-image: url(/img/vk/vk_active.svg);
}

.footer {
  background: #222222;
}

.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  .footer__conteiner {
    height: 668px;
    position: relative;
  }
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .footer__logo {
    position: absolute;
    left: 50px;
    bottom: 126px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  .footer__nav {
    display: none;
  }
}

.footer__nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
}

.footer__nav-link:hover {
  color: #FF9900;
}

.footer__nav-link:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 4px;
}

.footer__nav-link:active {
  color: #E1670E;
}

@media screen and (max-width: 1024px) {
  .footer__social {
    position: absolute;
    left: 50px;
    bottom: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .footer__form {
    padding-bottom: 248px;
  }
}

@media screen and (max-width: 1024px) {
  .footer__form {
    position: absolute;
    left: 50px;
    top: 50px;
  }
}

.footer__description {
  width: 363px;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  margin-top: 87px;
}

@media screen and (max-width: 1400px) {
  .footer__description {
    display: none;
  }
}
