$big-desktop: 1920px;
$desktop: 1400px;
$small-desktop: 1024px;
$tablet: 768px;
$phone: 320px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #333;

  // overflow-x: hidden;
  margin: auto;
  background-color: #FFFFFF;

  @media screen and (max-width: $tablet) {
    &.lock {
      overflow: hidden;
    }
    font-size: 14px;
    line-height: 28px;
    // overflow-x: hidden;
  }
}
