.conteiner {
  box-sizing:content-box;
  width: 1770px;
  margin: auto;
  padding: 0 75px;

}

@media screen and (max-width: $big-desktop) {
  .conteiner {
    width: unset;
    padding: 0 50px;
  }
}