.footer {
  background: #222222;

  
  &__conteiner {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;

    @media screen and (max-width: $small-desktop) {
      height: 668px;
      position: relative;
    }
    @media screen and (max-width: $tablet) {
      box-sizing: border-box;
      height: 673px;
      padding: 0;
      padding-top: 32px;
    }
  }

  &__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

  &__left-top {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-bottom: 20px;
    z-index: 100;

    @media screen and (max-width: $small-desktop) {
      position: absolute;
      left: 50px;
      bottom: 126px;
      margin-bottom: 0;
    }
    @media screen and (max-width: $tablet) {
      width: 131px;
      left: calc(50% - 131px/2);
      // left: 50%;
      bottom: 88px;
    }
  }

  &__nav {
    @media screen and (max-width: $small-desktop) {
      display: none;
    }
  }
  
  &__nav-list {

  }

  &__nav-item {

  }

  &__nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;

    &:hover {
      color: #FF9900;
    }

    &:focus-visible {
      outline: 2px solid #FF9900;
      outline-offset: 4px;
    }

    &:active {
      color: #E1670E;
    }
  }

  &__social {
    @media screen and (max-width: $small-desktop) {
      position: absolute;
      left: 50px;
      bottom: 50px;
    }
    @media screen and (max-width: $tablet) {
      left: calc(50% - 152px/2);
      bottom: 32px;
    }
  }

  &__form {
    @media screen and (max-width: $small-desktop) {
      padding-bottom: 248px;
    }
    @media screen and (max-width: $small-desktop) {
      position: absolute;
      left: 50px;
      top: 50px;
    }
    @media screen and (max-width: $tablet) {
      left: 14px;
      top: 32px;
      // bottom: 0;
      right: 14px;
      padding-bottom: 146px;
    }
  }
  
  &__description {
    width: 363px;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
  
    margin-top: 87px;

    @media screen and (max-width: $desktop) {
      display: none;
    }
  }
}