.header {
  // width: 100vw;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  &__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  &__logo-img {
    margin-right: 50px;
  }

  &__burger {
    display: none;
    @media screen and (max-width: $desktop) {
      display: block;
    }
  }

  @media screen and (max-width: $desktop) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 130;
    width: 100%;
  }
}

