.nav {
  display: flex;
  align-items: center;
  height: 100%;

  @media screen and (max-width: $desktop) {
    padding-left: 32px;
  }

  &__list {
    transition: left 0.2s ease-in;

    @media screen and (max-width: $desktop) {
      position: absolute;
      left: -330px;
      top: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      width: 320px;
      padding: 100px 30px;
      z-index: 40;
      background-color: #FFFFFF;
      overflow: auto;
      

      &.active {
        left: 0px;
      }
    }
    @media screen and (max-width: $tablet) {
      width: 100%;
      left: -101%;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 85px;
    
    &:last-child {
      margin-right: 81px;
    }

    @media screen and (max-width: $desktop) {
      margin: 0;
      padding: 15px 10px;
      &:last-child {
        margin: 0;
      }
    }
  }

  &__item-link {
    display: inline-block;
    border: 0px solid #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    
    transition-duration: 0.1s;
    transition-property: border-bottom-color, border-bottom-width, color;
    
    &:hover {
      border-bottom: 2px solid #FF9900;
      margin-bottom: -2px;
    }
    
    &:focus-visible {
      outline: 2px solid #FF9900;
      outline-offset: 2px;
    }
  
    &:active {
      border-bottom-color: #E1670E;
      color: #E1670E;
    }
  }
}