.sec-about {

  &__title {
    margin-bottom: 20px;
  }

  &__description {
    max-width: 1235px;
    margin-bottom: 50px;
  }

  &__main-content {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @media screen and (max-width: $desktop) {
      flex-direction: column;
    }
  }

  &__banner {
    position: relative;
    height: 622px;
    width: 49.04%;
    background-image: url(/img/About_Us_Pic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: $desktop) {
      width: 100%;
      margin-bottom: 32px;
    }
  }

  &__banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 196px;
  
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    background: rgba(0, 0, 0, 0.5);
  }

  &__banner-text {
    width: 454px;
    margin-left: 50px;
  
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    color: #fff;

    @media screen and (max-width: $small-desktop) {
      width: 366px;
      margin-left: 40px;
    }
  }

  &__btn {
    margin-right: 50px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49.153%;

    @media screen and (max-width: $desktop) {
      width: 100%;
    }
  }

  &__card {
    border: 1px solid #CACACA;
    height: 295px;

    @media screen and (max-width: $desktop) {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }

  &__card-content {
    display: flex;
    align-items: center;
    height: 295px;
    width: 100%;
    padding: 7.47% 6.9%;

    @media screen and (max-width: $big-desktop) {
      padding: 35px 32px;
    }
    @media screen and (max-width: $desktop) {
      padding: 65px 155px 65px 77px;
    }

    @media screen and (max-width: $small-desktop) {
      padding: 30px;
    }
  }

  &__card-icon {
    margin-right: 7.26%;
    width: 27.61%;

    @media screen and (max-width: $desktop) {
      margin-right: 50px;
      width: 190px;
    }
    @media screen and (max-width: $small-desktop) {
      margin-right: 16px;
      width: 114px;
    }
  }

  &__card-description  {
    font-size: 16px;
    line-height: 32px;
    color: #333333;
  }

  &__card-title {
    display: block;
    margin-bottom: 8px;
  
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #333;
  }
}