.sec-work {
  
  &__title {
    margin-bottom: 50px;
  }

  &__tabs {
    position: relative;
  }
  
  &__tab-list {
    display: flex;
    margin-bottom: 45px;

    @media screen and (max-width: $small-desktop) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__tab-item {
    margin-right: 85px;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    &:hover {
      color: #FF9900;
    }
    &:focus-visible {
      outline: 2px solid #FF9900;
      outline-offset: 5px;
    }

    &.active {
      color: #E1670E;
    }
    @media screen and (max-width: $small-desktop) {
      margin-right: 0;
    }
  }
  
  &__content-list {
    height: 460px;
    @media screen and (max-width: $desktop) {
      height: 730px;
    }
    @media screen and (max-width: $small-desktop) {
      height: unset;
    }
  }

  &__content-item {
    display: none;

    &.active {
      display: flex;
      justify-content: space-between;
      align-items: start;
      // padding-bottom: 110px;
      @media screen and (max-width: $small-desktop) {
        flex-direction: column-reverse;
      }
    }
  }

  &__step-description {
    width: 758px;
  
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    @media screen and (max-width: $big-desktop) {
      // width: 47vw;
      margin-right: 25px;
    }
    @media screen and (max-width: $desktop) {
      width: 100%;
      padding-right: 50px;
    }
    @media screen and (max-width: $small-desktop) {
      padding-bottom: 105px;
    }
  }

  &__pic {
    @media screen and (max-width: $big-desktop) {
      width: calc(100% - 758px - 140px);
      object-fit: cover;
      height: 460px;
    }
    @media screen and (max-width: $desktop) {
      width: 47.3%;
      height: 730px;
      object-fit: cover;
    }
    @media screen and (max-width: $small-desktop) {
      height: 284px;
      width: 100%;
      margin-bottom: 38px;
    }
  }

  &__btns-position {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  &__btn {
    margin-right: 32px;
  }
}